<p id="notice"><%= notice %></p>

<h1>Pictures</h1>
<%= link_to 'New Picture', new_picture_path, class: 'btn btn-info' %>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
      <th>コメント</th>
      <th>投稿者</th>
      <th>画像</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td>●</td>
        <td><%= link_to 'Show', picture, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-info' if current_user == picture.user %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info' if current_user == picture.user %></td>
        <td><%= picture.comment %></td>
        <td><%= picture.user.name %></td>
        <td><%= picture.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>
